<header>
  <ul>
    <li><a href="#">サインアップ</a></li>
    <li><a href="#">ログイン</a></li>
    <li><a href="#">投稿</a></li>
    <li><a href="#">トップページ</a></li>
  </ul>
</header>
<section class="main">
    <img src="<%= asset_path "top.jpg" %>" width="55%" height="55%">
</section>
<footer>
</footer>
