// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

}

li{
  float:right;
  margin-left:50px;
  margin-right: 50px;
  margin-top: 20px;
  list-style:none;
}

li a{
  color: white;
}

header{
  width: 100%;
  height: 70px;
  margin-top: auto;

}

.main{
  margin-top: 30px;
}

.flash{
  color: black;
  padding-top: auto;
  padding-bottom: 10px;
  text-align: center;
}
